:root {
  --bg-color: #f7f7f7;
  --font-color:#1b1b1b;
}

[data-theme=dark] {
  --bg-color: #1b1b1b;
  --font-color:#f7f7f7;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  font-family: "Khula", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: background-color 1000ms ease-out;
  transition: color 1000ms linear;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1300px;
  z-index: 1;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: calc(100% - 40px);
  max-width: 1300px;
  height: 160px;
  position: fixed;
  top: 0;
  padding-bottom: 20px;
  top: -20px;
  background-color: var(--bg-color);
  z-index: 3;
  transition: background-color 1000ms ease-out;
  transition: color 1000ms linear;
}
header a {
  color: inherit;
  text-decoration: inherit;
}
header a:hover {
  cursor: pointer;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
header nav #mainLogo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.3rem;
  position: relative;
  top: 20px;
}
header nav #links {
  font-size: 1.4rem;
}
header nav p {
  display: inline;
}

main {
  width: 100%;
  padding-top: 160px;
}

footer {
  margin-top: 50px;
  height: 70px;
  width: 100%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer li {
  display: inline;
}

.nightModeToggle-wrapper {
  display: flex;
  align-items: center;
}
.nightModeToggle-wrapper em {
  margin-left: 20px;
  padding-top: 6px;
  font-size: 1.1rem;
}

.nightModeToggle {
  display: inline-block;
  height: 24px;
  position: relative;
  left: 5px;
  width: 50px;
}
.nightModeToggle input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #db8722;
}
input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

#header-image {
  height: 900px;
  width: 100%;
  background-color: blue;
  background-image: url("../assets/img/myth-sets/1.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 70px;
}

#second-image-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 70px;
  justify-content: space-between;
  margin-bottom: 70px;
}
#second-image-container #second-image {
  height: 700px;
  width: 50%;
  background-image: url("../assets/img/myth-sets/3.jpg");
  background-size: cover;
}
#second-image-container p {
  align-self: center;
  width: 40%;
  max-width: 900px;
  padding: 20px;
}

#third-image {
  height: 900px;
  width: 100%;
  background-image: url("../assets/img/myth-sets/4.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 70px;
}

h2 {
  font-size: 2.1rem;
  font-weight: bold;
  margin: 20px 0;
}

p {
  font-size: 1.3rem;
  max-width: 900px;
  font-weight: bold;
}

/*# sourceMappingURL=myth-sets.css.map */
