@use 'template';


h2 {
   font-size: 2.1rem;
   font-weight: bold;
   margin:20px 0;
   
}

p {
   font-size: 1.3rem;
   max-width:900px;
   font-weight: bold;
}

#sub-image-grid-a {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 10px;
   grid-row-gap: 10px; 

   #sub-image-one {
      height:400px;
      width:100%;
      background-image:url("../assets/img/china-tea/1.jpg") ;
      background-size: cover;
      grid-area: 1 / 1 / 2 / 2;
   }

   #sub-image-two {
      height:400px;
      width:100%;
      background-image:url("../assets/img/china-tea/2.jpg") ;
      background-size: cover;
      grid-area: 1 / 2 / 2 / 3;
   }

   #sub-image-three {
      height:400px;
      width:100%;
      background-image:url("../assets/img/china-tea/3.jpg") ;
      background-size: cover;
      background-position: center;
      grid-area: 2 / 2 / 3 / 3;
   }
   #sub-image-four {
      height:400px;
      width:100%;
      background-image:url("../assets/img/china-tea/4.jpg") ;
      background-size: cover;
      background-position: center;
      grid-area: 2 / 1 / 3 / 2;
   }
}

#sub-image-grid-b {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 10px;
   grid-row-gap: 10px; 

   #sub-image-one {
      height:400px;
      width:100%;
      background-image:url("../assets/img/china-tea/6.jpg") ;
      background-size: cover;
      grid-area: 1 / 1 / 2 / 2;
   }

   #sub-image-two {
      height:400px;
      width:100%;
      background-image:url("../assets/img/china-tea/7.jpg") ;
      background-size: cover;
      grid-area: 1 / 2 / 2 / 3;
   }

   #sub-image-three {
      height:400px;
      width:100%;
      background-image:url("../assets/img/china-tea/8.jpg") ;
      background-size: cover;
      background-position: center;
      grid-area: 2 / 2 / 3 / 3;
   }
   #sub-image-four {
      height:400px;
      width:100%;
      background-image:url("../assets/img/china-tea/9.jpg") ;
      background-size: cover;
      background-position: center;
      grid-area: 2 / 1 / 3 / 2;
   }
}

#first-image {
   height:600px;
   width:100%;
   background-image:url("../assets/img/china-tea/5.jpg") ;
   background-position: center;
   background-size: cover;
}

#map {
   margin-top:50px;
   width:100%;
}