@use 'template';


#image-grid-a {
   display: grid;
   grid-column-gap: 10px;
   grid-row-gap: 10px; 
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   .grid-image {
      height:400px;
      width:100%;
      object-fit: cover;
   }

   #grid-image-one {
      grid-area: 1 / 1 / 2 / 2;
   }

   #grid-image-two {
      grid-area: 1 / 2 / 2 / 3;
   }

   #grid-image-three {
      grid-area: 2 / 2 / 3 / 3;
   }
   #grid-image-four {
      grid-area: 2 / 1 / 3 / 2;
   }
}

#image-grid-b {
   display: grid;
   grid-column-gap: 10px;
   grid-row-gap: 10px; 
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   .grid-image {
      height:400px;
      width:100%;
      object-fit: cover;
   }

   #grid-image-b-one {
      grid-area: 1 / 1 / 2 / 2;
   }

   #grid-image-b-two {
      grid-area: 1 / 2 / 2 / 3;
   }

   #grid-image-b-three {
      grid-area: 2 / 2 / 3 / 3;
   }
   
   #grid-image-b-four {
      grid-area: 2 / 1 / 3 / 2;
   }
}

#first-image {
   height:600px;
   object-fit: cover;
   width:100%;
}

#map {
   margin-top:50px;
   width:100%;
}


// Media Queries.
@media only screen and (max-width:900px) {
   #image-grid-a {
      height:400px;
      .grid-image {
         height:100%;
      }
   }
}