@use 'template';

#landing {
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height: var(--app-height);
   background-color:var(--bg-color);
   background-image: url("../assets/img/landing/3.jpg");
   background-size: cover;
   background-position: center;
   display:flex;
   flex-wrap:wrap;
}

#landing-cover {
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height: var(--app-height);
   background-color:var(--bg-color);
   display:flex;
   justify-content: center;
   align-items: center;
   opacity: 1;
   transition-property: opacity;
   transition-duration: 1s;
   transition-timing-function: ease-in-out;
   transition-delay: 2.1s;
}

#landing-cover.landing-cover-hidden {
   opacity: 0;
}
#loadingBounce-a {
   position: absolute;
   bottom:0vh;
   width:3px;
   height:60px;
   background-color:var(--font-color);
   border-radius: 100%;
   z-index: 3;
   left:50vw;
   opacity: 1;
   transition-property: transform, left, opacity;
   transition-duration: 0.5s, 2s, 0.5s ;
   transition-timing-function: ease-in-out;
   transition-delay: 0s, 0.3s, 0.9s;
}

#loadingBounce-b {
   position: absolute;
   bottom:0vh;
   width:3px;
   right:50vw;
   height:60px;
   background-color:var(--font-color);
   border-radius: 100%;
   z-index: 3;
   opacity: 1;
   transition-property: transform, right, opacity;
   transition-duration: 0.5s, 2s, 0.5s;
   transition-timing-function: ease-in-out;
   transition-delay: 0s, 0.3s, 0.9s;

}
#loadingBounce-a.loadingBounceMoveA {
   transform:translateY(-92vh);
   left:70vw;
   opacity:0;
}
#loadingBounce-b.loadingBounceMoveB {
   transform:translateY(-92vh);
   right:70vw;
   opacity:0;
}

#downIconContainer {
   width:100%;
   height:100px;
   position: absolute;
   bottom:0;
   left:0 ;
}
#downIcon {
   margin: 0 auto;
   height:100px;
   width:50px;
   background-image: url('../assets/icons/noun_scroll-down_54414.png');
   background-size: cover;
   background-position: center;
}


#landing-logo {
   margin:0 auto;
   color: var(--font-color);
   display:inline;
   align-self: center;
   position: relative;
   bottom:45vh;
   font-size: 4rem;
   font-family: 'Josefin Sans', sans-serif;
}

#landing-logo-cover {
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height:100vh;
   background-color:var(--bg-color);
   opacity: 1;
   transition-property: opacity;
   transition-duration: 1s;
   transition-timing-function: ease-in-out;
   transition-delay: 1.2s;
}
#landing-logo-cover.landing-logo-cover-hidden {
   opacity:0;
}



main {
   .hoverText {
      transition: .5s ease;
      opacity:0;
      color:var(--font-color);;
      font-size:2rem;
      width:100%;
      height:100%;
      display:flex;
      justify-content: center;
      align-items: center;
      background-image:linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.75));
   }
   .contentGrid-a {
      height:1000px;
      width:100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px; 
      .gridItem {
         text-decoration: none;
         transition: .5s ease;
         &:hover {
            .hoverText {
               opacity: 1;
            }
         }
      }

      #img-keyborders {
         grid-area: 1 / 1 / 2 / 3; 
         img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
         }
      }
      #a-keyborders{
         grid-area: 1 / 1 / 2 / 3; 
      }

      #img-myth-sets {
         grid-area: 2 / 1 / 4 / 3; 
         img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
         }
      }
      #a-myth-sets{
         grid-area: 2 / 1 / 4 / 3; 
  
      }

      #img-beeston-art {
         grid-area: 1 / 3 / 3 / 5; 
         img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
         }
      }
      #a-beeston-art{
         grid-area: 1 / 3 / 3 / 5; 

      }

      #img-nott-comtemp {
         grid-area: 3 / 3 / 4 / 5; 
         img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
         }
      }
      #a-nott-comtemp{
         grid-area: 3 / 3 / 4 / 5; 
      }
   }

   .contentGrid-b {
      height:600px;
      width:100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px; 

      .gridItem {
         text-decoration: none;
         transition: .5s ease;
         &:hover {
            cursor: pointer;  
            .hoverText {
               opacity: 1;
            }
         }
      }

      #img-china-tea {
         grid-area: 1 / 1 / 2 / 2;
         img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
         }
      }
      #a-china-tea{
         grid-area: 1 / 1 / 2 / 2;
      }

      #img-vegan-art {
         grid-area: 1 / 2 / 2 / 3;
         img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
         }
      }
      #a-vegan-art {
         grid-area: 1 / 2 / 2 / 3;
      }
   }

   h2 {
      // font-family: 'Josefin Sans', sans-serif;
      font-size: 2rem;
   }
}


// Media Queries.
@media only screen and (max-width:900px) {

   #landing-logo {
      bottom:40vh;
   }
   #loadingBounce-a.loadingBounceMoveA {
      transform:translateY(-86vh);
      left:70vw;
      opacity:0;
   }
   #loadingBounce-b.loadingBounceMoveB {
      transform:translateY(-86vh);
      right:70vw;
      opacity:0;
   }
}