@use 'template';

main {
   .hoverText {
      transition: .5s ease;
      opacity:0;
      color:#ffff;
      font-size:2rem;
      width:100%;
      height:100%;
      display:flex;
      justify-content: center;
      align-items: center;
      background-image:linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.75));
   }
   .contentGrid-a {
      height:900px;
      width:100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px; 
      .gridItem {
         background-size: cover;
         text-decoration: none;
         transition: .5s ease;
         &:hover {
            cursor: pointer;  
            .hoverText {
               opacity: 1;
            }
         }
      }

      #a-keyborders{
         grid-area: 1 / 1 / 2 / 3; 
         background-image:url("../assets/img/keyborders/1.jpg") ;
         background-position: center;
      }
      #a-myth-sets{
         grid-area: 2 / 1 / 4 / 3; 
         background-image:url("../assets/img/myth-sets/3.jpg") ;
      }
      #a-beeston-art{
         grid-area: 1 / 3 / 3 / 5; 
         background-image:url("../assets/img/beeston-art/6.jpg");
         background-position: center;
      }
      #a-nott-comtemp{
         grid-area: 3 / 3 / 4 / 5; 
         background-image:url("../assets/img/nott-contemp/3.jpg");
         background-position: center;
      }
   }

   .contentGrid-b {
      height:600px;
      width:100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px; 

      .gridItem {
         background-size: cover;
         text-decoration: none;
         transition: .5s ease;
         &:hover {
            cursor: pointer;  
            .hoverText {
               opacity: 1;
            }
         }
      }

      #a-china-tea{
         grid-area: 1 / 1 / 2 / 2;
         background-image:url("../assets/img/china-tea/10.jpg");
         background-position: center;
      }
      #a-vegan-art {
         grid-area: 1 / 2 / 2 / 3;
         background-image:url("../assets/img/vegan-art/7.jpg");
         background-position: center;
      }
   }

   h2 {
      // font-family: 'Josefin Sans', sans-serif;
      font-size: 2rem;
   }
}
