@use 'template';

#main-image {
   height:600px;
   width:100%;
   margin-bottom: 70px;
   object-fit: cover;
}

main.sub-page-main{

   #top-text{
      width:50%;
   }
}

#second-image-container{
   display:flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   margin: 70px 0;
   #second-image {
      height:700px;
      object-fit: cover;
      width:50%;
   }
   p {
      align-self: center;
      max-width: 900px;
      padding:20px;
      width:40%;
   }
}

#third-image {
   height:900px;
   margin-bottom: 70px;
   object-fit: cover;
   width:100%;
}

// Media Queries.
@media only screen and (max-width:900px) {
   #main-image {
      height:500px;
      margin-bottom: 0px;
      object-fit: cover;
      width:100%;
   }
   #top-text {
      margin-top:10px;
      max-width: 900px;
      min-width:90%;
   }
   
   #header-image {
      height:300px;
   }
   p {
      margin:0 auto;
      max-width:600px;
      width:80%;
   }
   #second-image-container{
      flex-wrap: wrap;
      height:480px;
      #second-image {
         height:300px;
         width:100%;
      }
      p {
         margin:0 auto;
         max-width:100%;
         width:100%;
      }
   }
   #third-image {
      height:300px;
      object-position: right;
   }
}